article {
	pre,
	code,
	var,
	samp,
	kbd,
	tt {
		font-size: 105% !important;
	}
	h3 {
		font-size: 160% !important;
	}
	h4 {
		font-size: 1.8em !important;
	}

	p {
		font-size: 120% !important;
	}

	#doc-toc {
		font-size: 130% !important;
	}
}

@media print {
	.md-typeset .admonition-title::before,
	.md-typeset summary::before {
		visibility: hidden;
	}
}
